*{
  margin: 0;
  padding: 0;

}

body{
  height: 100vh;
  font-size: 1rem;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}



.open-sans-textSmecher {
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 300;
font-style: normal;
font-variation-settings:
  "wdth" 100;
}


.pageContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;  
}

.topContainer{
  display: flex;
  justify-content: center;
  gap: 70%;
  margin-top: 50px;
  max-width: 100%;
  
  }

#tryIt{
  background-color: white;
  color:hsl(322, 100%, 66%);
  border-color:hsl(322, 100%, 66%);
  border-radius: 15px;
  padding: 5px 30px;
  border-style: solid;
}

.topContainer img{
  width: 15%;
}

.titleContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainTitle{
  font-size: 47px;
  font-weight: 700;
  margin-top: 100px;
  font-family: "Poppins";
  margin-bottom: 24px;
}

.mainSubtitle{
  max-width: 550px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 32px;
  font-family: "Open Sans";
}

.devicesContainer img{
  width: 90%;
  margin: 80px 0px;
}

.growing{
  background-color:hsl(207, 100%, 98%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  text-align:left ;
  padding: 100px 0px
}

.growingText{
padding-left: 15%;
font-size: 16px;
font-family: "Open Sans";
}

.conversation{
  display: flex;
  flex-direction: row;
  align-items:center ;
  width: 100%;
  padding: 100px 0px
}

.conversationText{
  padding-right: 15%;
  text-align: left;
  font-size: 16px;
font-family: "Open Sans";
}

.conversationImage{
  max-width: 100%;
  order: -1;
}

.users{
  background-color: hsl(207, 100%, 98%);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 100px 0px
}

.usersText{
  text-align: left;
  padding-left: 15%;
  font-size: 16px;
  font-family: "Open Sans";
}

.userTitle{
font-size:30px ;
font-family: "Poppins";
}

.converstionTitle{
font-size:30px ;
font-family: "Poppins";
}

.growTitle{
font-size:30px ;
font-family: "Poppins";
}

.displayNone{
  display: none;
}

.trialButtonPink{
  color: white;
  background-color: hsl(322, 100%, 66%);
  border-style:none ;
  padding: 20px 100px;
  border-radius:50px ;
  font-weight: 900;    
}

.statistics{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40%;
  margin: 0px 0px 100px 0px;
  padding: 0px ;
}

.statistics h1{
font-size: 74px;

}

.comunities{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comunities h1{
font-size: 80px;
font-family: "Poppins";
}

.comunities p{
font-size: 20px;
font-family: "Open Sans";
}

.messages{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.messages p{
font-size: 20px;
font-family: "Open Sans";
}

.messages h1{
font-size: 80px;
font-family: "Poppins";
}

.joinComunity{
padding: 100px 0px
}

.lastTitle{
  font-size: 32px;
  font-weight: bold;
  font-family: "Poppins";
  margin-bottom: 24px;
}

.footerContent{
  background-color: hsl(192, 100%, 9%);
  padding: 5%;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30%;
  margin-top: -5px;
}

.footerTopImage{
  margin: 0;
  padding: 0;
}

.footerLogo{
  margin: 0;
  padding: 0;
}

.footerLogo img{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
}

.socialMedia{
display: flex;
margin-top: 70px;
gap: 20px;
}

.socialMedia img{
width: 30px;
height: 30px;
}

.footerLorem{
margin-top: 25px;
max-width: 315px;
line-height: 22px;
}

.phone{
display: flex;
gap: 20px;
}

.email{
display: flex;
gap: 20px;
}

.contactDetails{
margin-top: 25px;
display: flex;
flex-direction: column;
gap: 15px;
}

.paragraphNewsletter{
line-height:22px ;
max-width: 330px;
}

.footerRight{
display: flex;
flex-direction: column;
gap: 20px;
}

.subscribeForm{
display: flex;
flex-direction: row;
gap: 30px;
}

.subscribeForm input{
padding: 10px 80px;
text-align: start;
border-radius: 5px;
border-style: none;
}

.subscribeForm button{
padding: 8px 40px;
background-color: hsl(322, 100%, 66%);
border-style: none;
border-radius: 5px;
font-weight: 600;
color: white;
}

@media screen and (max-width: 750px) {
.topContainer img{
  width: 35%;
}

.topContainer{
  display: flex;
  gap: 30%;
}

.mainTitle{
  font-size: 27px;
  max-width: 345px;
}

.mainSubtitle{
  max-width: 391px;
}

.trialButtonPink{
  padding: 13px 40px;
}

.statistics{
  display: flex;
  flex-direction:column ;
  gap: 100px;
}

.growing{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.growingText{
  display: flex;
  flex-direction: column;
  order: 2;
  margin-top: 80px;
  padding: 0;
  text-align: center;
  max-width: 355px;
  gap: 20px;
}

.growingImage{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.conversation{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conversationText{
  display: flex;
  flex-direction: column;
  order: 2;
  margin-top: 80px;
  padding: 0;
  text-align: center;
  max-width: 365px;
  gap: 20px;
}

.conversationImage{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.users{
display: flex;
flex-direction: column;
align-items: center;
}

.usersText{
display: flex;
flex-direction: column;
order: 2;
margin-top: 80px;
padding: 0;
text-align: center;
max-width: 365px;
gap: 20px;
}

.usersImage{
display: flex;
  flex-direction: row;
  justify-content: center;
}

.lastTitle{
  max-width: 300px;
  font-size: 27px;
}

.footerContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding: 36px 0px;
}

.footerRight{
  display: flex;
  order: -1;
}

.subscribeForm{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
}

.subscribeForm button{
  width: 135px;
}

}